<mat-card>
</mat-card-title>RegistrarMascota</mat-card-title>
<mat-card-content>
 <form [formGroup]= "petForm" (ngSubmit)= "onSubmit()">
   
   
   
    <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name"/>
   </mat-form-field>


   <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select formControlName="type">
        @for (petType of petTypes; track petType){
            <mat-option [value]="petType">
                {{petType}}
            </mat-option>
        }
       
     </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Raza</mat-label>
        <input matInput formControlName="breed"/>
    </mat-form-field>
 

    
    <mat-form-field appearance="fill">
        <mat-label>Edad(años)</mat-label>
        <input matInput type="number" formControlName="age"/>
    </mat-form-field>


    <button mat-raised-button color="primary" type="sumbit" [disabled]="pet.Form.invalid">
        Registrar
    </button>




</form>


</mat-card-content>
</mat-card>
 